* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url('./LibertyFinance.png')  !important; */
  background-image: url('./Images/BG/Background.png')  !important;
  background-color: #030020;
  font-family: 'Poppins', sans-serif;
  /* background-position: contain; */
  background-repeat: repeat-y;
  background-size: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  /* background-image: url("/images/LibertyFinance.png"); */
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Nav Bar */
.navbar {
  /* width: 100%; */
  /* height: 100px; */
  /* position: absolute; */
  /* top: 0; */
  /* background: #1f2235; */
}

.nav__wrapper {
   width: 100%;
}

.navbar__container {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar__left-logo img {
  width: 50px;
}
.navbar__logo-text{
  
    position: absolute;
    margin: 0px 43px;
}
.navbar__left{
  
    display: contents;
}
.navbar__logo-text a{
  
      text-decoration: none;
    color: #a9a7a7;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
    padding: 0 15px;
}

.navbar__right {
  display: flex;
  list-style-type: none;
  margin: 0px;
}


.navbar__right li a {
  text-decoration: none;
  color: #a9a7a7;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  padding: 0 15px;
}

.navbar__right li a:hover {
  color: #fff;
}
/* Nav Bar */


/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
}

.col-6 {
  width: 50%;
}

/* header */
.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.header__section h1 {
  font-size: 120px;
  font-weight: 800;
  background: rgb(2,0,36);
/* background: linear-gradient(90deg, rgba(58,38,240,100) 0%, rgba(91,43,226,100) 17%, rgba(206,74,103,100) 55%); */
background: linear-gradient(90deg, #3A26F0 0%, #5B2BE2 36.46%, #CE4A67 64.52%);
  
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.header__section h3 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

.header__section p {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 50px;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}

.btn-outline {
  background-color: #3A26E4;
  border: 1px solid #3A26E4;
  border-radius: 25px;
  padding: 13px 40px;
  /* -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px; */
}

/* Section */

.main__section{
  display: flex;
  text-align: center;
  justify-content: center;
}


/* Footer */

.footer {
  width: 100%;
  height: 265px;
  background-color: #1F2136;
  
}
.foot{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer__social {
  display: flex;
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.foo__social {
  justify-content: center;
}

.footer__social li {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  background-color: #fff;
}

.footer__navbar {
  display: flex;
  list-style-type: none;
  margin: 0px 10px;
}

.foo__bar {
  justify-content: center;
}

.footer__navbar li a {
  text-decoration: none;
  color: #a9a7a7;
   font-weight: 500;
  /*font-size: 18px; */
  line-height: 27px;
  letter-spacing: 0.03em;
  /* padding: 0 15px; */
  /* padding-left: 75px; */
}

.footer__navbar li a:hover {
  color: #fff;
}

.footer__copyright {
  display: flex;
  list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer__copyright p {
  color: #a9a7a7;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}